body {
    margin: 0;
    padding: 0;
    background-color: #E1E0C7;
}

.clear {
    clear: both;
}
.content {
    position: relative;
}

div.header {
    background-color: #5D6146;
    width: 100%;
    height: 70px;

}

div.content_left {
    display: inline-block;
    margin-top: 40px;
    margin-left: 200px;
    width: 1000px;
    height: 800px;
    background-color: #F0EFE2;
    
}
div.content_right_top {
    display: inline-block;
    height: 150px;
    width: 450px;
    background-color: #F0EFE2;
    position: absolute;
    margin-top: 40px; 
    margin-left: 50px;
    
}


div.content_right_bottom {
    display: inline-block;
    width: 450px;
    height: 600px;
    background-color: #F0EFE2;
    margin-top: 30px;
    margin-left: 50px;
    
}

.bottom {
    display: inline-block;
    height: 60px;
    width: 650px;
    background-color:#F0EFE2;
    margin-left: 200px;
    margin-top: 35px;
    

}

.float {
    height: 70px;
    width: 100%;
    border: 1px solid #5D6146;
    margin-top: 30px;
}
.float p {
    text-align: center;
    font-size: 1.4pc;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    line-height: 70px;
    margin-left: 200px;
    
   
}
.header ul li {
    display: inline-block;
    color: #F0EFE2;
    font-size: px;
    padding-right: 20px;
    font-size: 2pc;

}

input {
    
    width: 450px;
    height: 40px;
    margin-left: 210px;
    border-radius: 20px;
}

.content_right_top_content {
    display: inline-block;
    position: absolute;
    

}

table tr td {
    font-size: 1.5pc;
    border: 1px solid gold;
    border-radius: 10px;
    padding: 2px;
}

